@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.bg-01 {
  background-color: rgb(14, 25, 39);
  height: 100%;
  padding-bottom: 10vh;
  padding-top: 5vh;
}
.star {
  width: 70px;
  position: absolute;
  transform: translate(55vw, -90px);
}
.tp {
  font-family: Bebas Neue, sans-serif;
  color: white;
  font-size: 3vw;
  margin: 0;
  padding: 1vw 5vh;
}
.join {
  color: rgb(0, 149, 255);
  font-size: large;
}
.top-font {
  font-family: Bebas Neue, sans-serif;
  color: white;
  font-size: 5vw;
  margin: 0;
  padding: 1vw 5vh;
}
.sub-font {
  color: rgb(157, 156, 160);
  font-size: 1.5vw;
  font-family: Montserrat, sans-serif;
  font-weight: bolder;
  padding: 1vw 5vh;
  margin: 0;
}
.sub-f {
  color: rgb(200, 197, 208);
  font-size: 1vw;
  font-family: Montserrat, sans-serif;
  font-weight: bolder;
  padding: 1vw 5vh;
  margin: 0;
  height: 30%;
  width: 60vw;
}
.tog {
  display: flex;
  align-items: center;
  padding: 1vw 5vh;
  margin-top: 10vh;
}
.line {
  background-color: rgb(0, 149, 255);
  width: 5vw;
  height: 1px;
}
.pass-vid {
  width: 90%;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.Royality-card {
  text-align: center;
  background-color: rgb(21, 44, 74);
  padding: 3vw;
  border: solid white 1px;
  width: 25%;
  min-height: 600px;
}
.btn {
  background: #a234d9;
  background-image: -webkit-linear-gradient(top, #a234d9, #1073b0);
  background-image: -moz-linear-gradient(top, #a234d9, #1073b0);
  background-image: -ms-linear-gradient(top, #a234d9, #1073b0);
  background-image: -o-linear-gradient(top, #a234d9, #1073b0);
  background-image: linear-gradient(to bottom, #a234d9, #1073b0);
  font-family: Montserrat, Arial;
  color: #ffffff;
  font-size: 24px;
  padding: 10px 20px 10px 20px;
  border: solid #ffffff 1px;
  text-decoration: none;
  cursor: pointer;
}

.banner {
  width: 100%;
  margin: 5vh 0 5vh 0;
}

.questions {
  background: url("./../../assets/photo-4.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  text-align: center;
  width: 95%;
  margin: auto;
  padding: 20px;
  margin-bottom: 40px;
}
.questions h1 {
  font-family: Bebas Neue, sans-serif;
  color: white;
  font-size: 5vw;
  margin: 0;
  padding: 1vw 5vh;
}
.questions p {
  color: rgb(255, 255, 255);
  font-size: 1.5vw;
  font-family: Montserrat, sans-serif;
  font-weight: bolder;
  padding: 1vw 5vh;
  margin: 0;
}

.sale-box {
  display: flex;
  margin: 10px 0 30px 0;
  border: solid 1px white;
  padding: 20px;
  color: rgb(255, 255, 255);
  font-size: 1.5vw;
  font-family: Montserrat, sans-serif;
  font-weight: bolder;
  height: 80px;
}
.check {
  display: flex;
  flex-direction: column;
}
.cont-8 {
  display: flex;
  height: 50px;
  justify-content: flex-start;
  align-items: center;
  color: rgb(201, 190, 190);
  border-bottom: 1px solid grey;
}

.cont-8 input:checked {
  background-color: #2196f3;
}

@media screen and (max-width: 700px) {
  .cards {
    flex-direction: column;
  }
  .Royality-card {
    margin: auto;
    margin-bottom: 20px;
  }
  .font-cont {
    text-align: center;
  }

  .top-font {
    font-size: 6vw;
  }

  .sub-font {
    font-size: 2vw;
    font-weight: bolder;
  }

  .Royality-card {
    text-align: center;
    background-color: rgb(21, 44, 74);
    padding: 4vw;
    width: 80vw;
  }

  .pass-vid {
    width: 70vw;
  }
}

@media screen and (max-width: 500px) {
  .questions {
    width: auto;
    margin: auto;
    padding: 20px;
    margin-bottom: 40px;
  }
  .questions h1 {
    font-size: 9vw;
  }
  .questions p {
    font-size: 5vw;
  }
  .tog {
    margin: auto;
    justify-content: center;
    margin-top: 18vh;
  }
  .top-font {
    font-size: 8vw;
  }
  .sub-f {
    font-size: 5vw;
    font-family: Montserrat, sans-serif;
    font-weight: bolder;
    padding: 1vw 5vh;
    height: 30%;
    width: 90%;
  }
  .xx {
    font-size: 5vw;
    width: auto;
  }
  .bg-01 {
    background-color: rgb(14, 25, 39);
    padding-bottom: 10vh;
  }

  .star {
    transform: translate(20vw, -130px);
    width: 40px;
  }
  .sale-box {
    flex-direction: column;
    font-size: 5vw;
    line-height: 30px;
  }
}
